{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}

{% block body %}
  <header class="c-white">
    <img class="logo_site" src="{{ asset('assets/images/adrar_classrooms_logo.png') }}" alt="Logo du site" />
    <p class="wii titre">Classrooms</p>
    <nav class="navbar">
      <ul>
        <li>
          <a class="c-white" href="#">Accueil</a>
        </li>
        <li>
          <a class="c-white" href="{{ path('app_cours') }}">Formations</a>
        </li>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DEV') %}
        <li>
          <a class="c-white" href="{{ path('app_admin') }}">Administration</a>
        </li>
        {% endif %}
        <li>
          {% if app.user is not empty %}
            <a class="c-white" href="#">{{ app.user.prenom|capitalize }}&nbsp;{{ app.user.nom|upper }}</a>
          {% else %}
            <a class="c-white" href="{{ path('app_login') }}">Se connecter</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="candidature c-white">
        <h2>Votre métier de demain, à portée de main</h2>
        <p>Développez de nouvelles compétences dans le domaine de l’informatique et intégrer la formation de votre choix.</p>
        <a href="#" class="btn_inline">Démarrer ma candidature</a>
        <a href="#" class="btn_outline c-white">Démarrer ma candidature</a>
        <img src="{{ asset('assets/images/undraw_en_train_d_etudier.svg') }}" alt="Illustration étudiante qui étudie" class="img_etudiante"/>
    </section>
    <section class="presentation c-white"></section>
  </main>

  <footer class="c-white">
    <p>2023 &copy; ADRAR Classrooms. Tous droits réservés.</p>
  </footer>
{% endblock %}
