{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}

{% block body %}
  <header class="bg-black c-white">
    <img class="logo_site" id="logo_site" src="{{ asset('assets/images/adrar_classrooms_logo.png') }}" alt="Logo du site" />
    <p class="wii titre text-center">Classrooms</p>
    <nav class="navbar">
      <a class="c-white" href="#">Accueil</a>
      <a class="c-white" href="{{ path('app_cours') }}">Formations</a>
      {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DEV') %}
        <a class="c-white" href="{{ path('app_admin') }}">Administration</a>
      {% endif %}
      <i class="fa-solid fa-magnifying-glass"></i>
      {% if app.user is not empty %}
        <a class="c-white pull-right" href="#">{{ app.user.prenom|capitalize }}&nbsp;{{ app.user.nom|upper }}</a>
      {% else %}
        <a class="btn btn-connexion bg-black c-blue pull-right" href="{{ path('app_login') }}">Se connecter</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <section class="candidature c-white">
      <div>
        <h2>Votre métier de demain, à portée de main</h2>
        <p>Développez de nouvelles compétences dans le domaine de l’informatique et intégrer la formation de votre choix.</p>
        <a href="#" class="btn btn-inline">Démarrer ma candidature</a>
        <a href="{{ path('app_cours') }}" class="btn btn-outline c-white">Découvrir les formations</a>
      </div>
      <div>
        <img src="{{ asset('assets/images/undraw_en_train_d_etudier.svg') }}" alt="Illustration étudiante qui étudie" class="img_etudiante" />
      </div>
    </section>
    <section class="presentation c-white"></section>
    <section class="avis c-white p-1 text-center">
      <h3>Témoignages & sourires</h3>
    </section>
  </main>

  <footer class="bg-black c-white text-center">
    <p>2023 &copy; ADRAR Classrooms. Tous droits réservés.</p>
    <a id="back_to_top" href="#logo_site"><img src="{{ asset('assets/icons/chevron-haut.png') }}" alt="Retourner en haut du site" /></a>
  </footer>
{% endblock %}
