{% extends 'base.html.twig' %}

{% block title %}
  Connexion
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/connexion.css') }}" />
{% endblock %}

{% block body %}
  <div class="app">
    <div class="gauche">
      <p class="wii titre pt-3">ADRAR Classrooms</p>
      <p class="bienvenue">Bienvenue</p>

      <form method="post">
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="login-input" autocomplete="email" required autofocus />
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="login-input" autocomplete="current-password" required />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <button class="login-btn c-white" type="submit">Se connecter</button>
      </form>

      <hr class="separateur" />
      <div class="connnect-with">
        <p class="c-white">ou continuer avec</p>
      </div>
    </div>

    <div class="droit">
      <p class="commentaire">« J'étais musicien indépendant, mais la COVID a tout stoppé. On m’a parlé d’ADRAR Classrooms, ça m'a ouvert des opportunités professionnelles insoupçonnées. »</p>
      <p class="auteur">Alexandre - Développeur Full-Stack Junior</p>
      <img class="image" src="{{ asset('assets/images/homme_heureux.png') }}" alt="Homme heureux" />
    </div>
  </div>
{% endblock %}
